/* //item  */
.new__image {
    overflow: hidden;
}

.new__image img {
    transition: transform 0.5s;
}

.section-mare__magazines .overlay::after {
    opacity: 0;
    transition: .5s;
}

.new-box:hover .overlay::after {
    opacity: 0.5;
}

.new-box:hover .new__image img {
    transform: scale(1.1);
}

.new-box {
    padding: 0 10px;
}

/* //css  */
.new__category {
    padding: 0 10px;
    line-height: 25px;
    left: 50%;
    font-size: 12px;
    margin-top: -36px;
    transform: translateX(-50%);
    background-color: var(--bg-theme);
    color: var(--color-primary);
    overflow: hidden;
}

.new__category:hover {
    color: var(--color-primary);
}

.new__date {
    top: 10px;
    left: 20px;
    z-index: 2;
    line-height: 1;
    min-width: 53px;
    background-color: var(--bg-primary);
    box-shadow: 0 0 9px var(--box-shadow-0001);
}

.new__date__day {
    padding-top: 6px;
    padding-bottom: 4px;
    font-size: calc(var(--heading-5) - 2px);
}

.new__date__month {
    font-size: 12px;
    padding: 0 2px 8px 0;
}

.new__title {
    color: var(--color-second);
}

.new__title:hover {
    opacity: 0.7;
    transition: all 0.5s ease;
}

.new-content {
    padding: 25px 10px 10px 10px;
}

.new-entry {
    margin-top: 15px;
}

.new-entry ul {
    gap: 15px;
    opacity: 0.7;
}

.new-entry li:nth-child(4) {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.new-entry li:nth-child(1),
.new-entry li:nth-child(5) {
    display: none;
}

.new-entry li:nth-child(4) span {
    top: -4px;
    right: -4px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: var(--color-bbb);
    color: var(--color-primary);
    text-align: center;
    font-size: 9px;
}

.new-slider .slick-dots li button:before {
    font-size: 12px;
}

.new__prev {
    top: 50%;
    transform: translateY(-50%);
    right: -20px;
    width: 18px;
    transition: all .5s ease-in-out;
}

.new__next {
    top: 50%;
    transform: translateY(-50%);
    left: -20px;
    width: 18px;
    transition: all .5s ease-in-out;
}

/* dot  */
.new__image {
    overflow: hidden;
}

.new__dots span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--color-primary);
    margin: 0 5px;
}

.new__dots {
    top: 50%;
    width: 100%;
    z-index: 999;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

@keyframes fadeInFromLeft {
    from {
        opacity: 0;
        transform: translateX(-50%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOutToRight {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(100%);
    }
}

/* ensd dot  */
.hover-effect:hover .new__dots {
    animation: fadeInFromLeft 0.5s ease forwards;
}

.hover-effect:not(:hover) .new__dots {
    animation: fadeOutToRight 0.5s ease forwards;
}

@media (min-width: 992px) {
    .new-entry li:nth-child(1) {
        display: block;
    }
}

@media (min-width: 1200px) {
    .new-entryt li:nth-child(5) {
        display: block;
    }
}