.featured-product__subtitle {
    color: var(--color-theme);
}

.featured-product__title {
    margin: 10px 0;
    font-size: calc(var(--heading-2) - 2px)
}

.featured-product__after {
    margin-bottom: 10px;
    opacity: 0.6;
}

.featured-product-tabs {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    gap: 30px;
    padding-bottom: 10px;
    display: flex;
}


.featured-product-tabs a {
    color: var(--color-second);
    opacity: 0.6;
}

.featured-product-tabs a:hover {
    opacity: 1;
}

.tablinks::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--color-theme);
    transition: width 0.4s cubic-bezier(.19, 1, .22, 1)
}

.tablinks.active {
    opacity: 1;
}

.tablinks.active::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-theme);
    transition: width 0.4s cubic-bezier(.19, 1, .22, 1)
}

.tabcontent {
    display: none;
}

.tabcontent.active {
    display: block;
}

.featured-product-box {
    padding: 0 10px;
    margin-bottom: 20px;
}

.featured-product-body {
    margin-top: 10px;
}

.featured-product__title {
    margin-top: 10px;
}

.featured-product__name:hover,
.featured-product__tag:hover,
.featured-product__prev:hover,
.featured-product__next:hover {
    opacity: 0.7;
}

.featured-product__tag {
    opacity: 0.5;
    font-size: 13.3px;
    color: var(--color-second);
}

.featured-product__stars svg {
    fill: var(--btn--yellow);
}

.featured-product__price span:nth-child(1) {
    text-decoration: line-through;
    opacity: 0.5;
    font-size: 12.6px;
    display: inline-block;
}

.featured-product__price span:nth-child(2) {
    font-size: 14px;
    margin-left: 2px;
    color: var(--color-theme);
}

.featured-product__new,
.featured-product__onsale {
    top: 13px;
    background-color: var(--btn--green);
    padding: 5px 10px;
    min-width: 50px;
    color: var(--color-primary);
    font-size: 12px;
    line-height: 1.2;
}

.featured-product__onsale {
    opacity: .6;
}

.featured-product__btns {
    background: var(--bg-primary);
    box-shadow: 1px 1px 1px var(--box-shadow-0001);
    text-align: center;
    transition: all .5s ease-in-out;
    z-index: 3;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -15px);
    border-radius: 35px;
}

.featured-product__btns .featured-product__btn:nth-child(3),
.featured-product__btns .featured-product__btn:nth-child(2) {
    display: none;
}

.featured-product__btn svg {
    width: 20px;
    height: 20px;
}

.featured-product__btn {
    width: 35px;
    height: 35px;
}

.featured-product__btn svg:hover {
    opacity: 0.7;
}

.featured-product-box:hover .featured-product__btns {
    transform: translate(-50%, -20px);
}

/* //tool tip  */
.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: var(--bg-second);
    color: var(--color-primary);
    border-radius: 5px;
    padding: 10px;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--bg-second) transparent transparent transparent;
}

.featured-product__btns span {
    font-size: 12px;
}

.featured-product__btn:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.featured-product__prev {
    top: 40%;
    right: 0;
    width: 18px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.featured-product__next {
    top: 40%;
    left: -0;
    width: 18px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

@media (min-width: 992px) {
    .featured-product__img {
        overflow: hidden;
    }

    .featured-product__btns {
        transform: translate(-50%, 45px);
        border-radius: 0;

    }

    .featured-product__btns .featured-product__btn:nth-child(3),
    .featured-product__btns .featured-product__btn:nth-child(2) {
        display: flex;
    }

    .featured-product__btn svg {
        width: 25px;
        height: 25px;
    }

    .featured-product__btn {
        width: 43px;
        height: 45px;
    }
}